.headerDiv {
    font-size: 12px;
    height: fit-content;
    background-color:rgb(149 173 234 / 23%);
    border-radius: 15px;
    color: rgb(50 81 164);
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    grid-area: hd;
}

#buttonGreeting {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

@media (min-width: 800px) {
    .headerDiv {
        font-size: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
  }
