.landingHeaderDiv {
    justify-content: space-between;
}

.card {
    background-color: rgb(176 189 223 / 85%);
    color: rgb(48 68 111);
    width: 300px;
    min-height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.landingCards {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 1fr;
}

#leftCol {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.loginText {
    background-color:white;
    color: black;
    border: none;
    font-size: 20px;
    height: 40px;
}

button.loginBtn {
    padding: 5px;
    background-color: white;
    border-radius: 4px;
    color:  rgb(50 81 164);
    width: 100%;
}

button.loginBtn:hover {
    color: cadetblue;
}

#mainStageLanding {
    justify-content: center; 
    align-items: center;
    display: flex;
}
@media (min-width: 800px) {
    .landingCards { 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90px auto;
    }

    .landingHeaderDiv {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #leftCol {
        justify-self: right;
        padding-right: 40px;
    }

    #mainStageLanding {
        justify-self: left;
        padding-left: 40px;
    } 
  }