#searchBox {
    color: rgb(58, 58, 58);
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    width: 160px;
    margin-bottom: 8px;
}

.leftColumn {
    margin-top: 19px;
    margin-bottom: 19px;
    background-color: rgb(149 173 234 / 23%);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 10px;
    min-width: 211px;
    grid-area: lft;
}

.newTopic {
    width: 20px;
    border-radius: 4px;
    font-size: 24px;
    padding: 2px;
    margin-top: 10px;
    background-color: white;
    outline: none;
    border: none;
    display: inline-block;
}

#newtopicText {
    border-radius: 4px;
    background-color: white;
    color: black;
    outline: none;
    border: none;
    font-size: 18px;
    padding-bottom: 3px;
    padding-top: 8px;
    margin-bottom: 20px;
    margin-left: 5px;
    display: inline-block;
    width: 150px;

}

.selected {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    color: white;
}

button {
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}

button:hover {
    color: rgb(119, 119, 119);
    cursor: pointer;
}
