#searchBox {
    color: rgb(31, 71, 202);
    height: 30px;
    font-size: 18px;
    background-color: rgb(160 186 255);
    border-bottom: white;
    border-width: 2px;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    margin-bottom: 8px;
}

.leftColumn {
    margin-top: 19px;
    margin-bottom: 19px;
    background-color: rgb(149 173 234 / 23%);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 10px;
    min-width: 211px;
    grid-area: lft;
}

.newTopic {
    width: 20px;
    border-radius: 4px;
    font-size: 24px;
    padding: 2px;
    margin-top: 10px;
    background-color: rgb(149 173 251);
    color:white;
    outline: none;
    border: none;
    display: inline-block;
}

#newtopicText {
    border-radius: 4px;
    background-color: white;
    color: rgb(31, 71, 202);
    outline: none;
    border: none;
    font-size: 18px;
    padding-bottom: 3px;
    padding-top: 8px;
    margin-bottom: 20px;
    margin-left: 5px;
    display: inline-block;
    width: 150px;

}

.selected {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    color: rgb(50 81 164);
}

button {
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: rgb(50 81 164);
    outline: none;
}

button:hover {
    color: white;
    cursor: pointer;
}
