.mainStage {
    border-radius: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: rt;
}

#questionCard {
    position: relative;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(176 189 223);
    color: rgb(48 68 111);
    border-radius: 8px;
    padding: 15px;
}

#cardHeader {
    display: flex;
    justify-content:space-between;
}

.cardHead {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

#cardFooter {
    font-size: 24px;
    text-align: center;
}

#questionMask {
    background-color: transparent;
    padding: 10px;
    border: none;
    outline: none;
    color: rgbrgb(48 68 111);
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

@media (min-width: 800px) {
    .cardHead { 
        font-size: 20px;
    }

    #questionCard {
        width: 80%;
    }
}